[core]
        editor = vim
        pager = less

[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        pager = true
        ui = auto

[alias]
        hist = log --graph --oneline --decorate
        st = status

[user]
	anem = zoness.info
	mail = zoness.info@gmail.com
	name = zoness.info
	email = zoness.info@gmail.com
