
{% extends 'base.html' %}
{% load static %}
{% block content %}


	<!-- App body starts -->
	<div class="app-body">

		<!-- Container starts -->
		<div class="container-fluid">

			<!-- Row start -->
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Calendar</h4>
						</div>
						<div class="card-body">
							<div id="dayGrid"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- Row end -->

		</div>
		<!-- Container ends -->

	</div>
	<!-- App body ends -->



	<!-- Calendar JS -->
	
{% endblock %}
		