{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
 <!-- App body starts -->
 <div class="app-body">

    <!-- Container starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <div class="">
                                <h4 class="card-title">Pouch Cutting Details</h4>
                                <div class="col-auto">
                                    <a href="{% url 'pouchcuttingtable_entry' %}" class="btn btn-primary">+ Add</a>
                                </div>
                            </div>
                            <div class="btn-group ms-auto" role="group" aria-label="Basic radio toggle button group">

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="all,DailyPouchCuttingDetails" hx-get="{% url 'toggle' %}" hx-trigger="change" hx-target="#toggle-response" checked="" />
                                <label class="btn btn-outline-primary" for="btnradio1">All</label>
                                
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="today,DailyPouchCuttingDetails" hx-get="{% url 'toggle' %}" hx-trigger="change"  hx-target="#toggle-response" />
                                <label class="btn btn-outline-primary" for="btnradio2">Today</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" value="7d,DailyPouchCuttingDetails" hx-get="{% url 'toggle' %}" hx-trigger="change" hx-target="#toggle-response" />
                                <label class="btn btn-outline-primary" for="btnradio3">7D</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio4" value="last_month,DailyPouchCuttingDetails" hx-get="{% url 'toggle' %}" hx-trigger="change" hx-target="#toggle-response" />
                                <label class="btn btn-outline-primary" for="btnradio4">Last Month</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio5" value="last_3_months,DailyPouchCuttingDetails" hx-get="{% url 'toggle' %}" hx-trigger="change" hx-target="#toggle-response" />
                                <label class="btn btn-outline-primary" for="btnradio5">Last 3 Months</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio6" value="last_year,DailyPouchCuttingDetails" hx-get="{% url 'toggle' %}" hx-trigger="change" hx-target="#toggle-response" />
                                <label class="btn btn-outline-primary" for="btnradio6">Last Year</label>

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="border border-dark rounded-3">
                            <div class="table-responsive">
                                <table class="table align-middle custom-table m-0">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Shift</th>
                                            <th>Operator Name</th>
                                            <th>SF Leak in MT</th>
                                            <th>GN Leak in MT</th>
                                            <th>GNR Leak in MT</th>
                                            <th>RB Leak in MT</th>
                                            <th>Palm Leak in MT</th>
                                            <th>GIN Leak in MT</th>
                                            <th>Remarks</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="toggle-response">
                                        {% include 'Packing/dailypouchcuttingtable_data.html' %}
                                        
                                    </tbody>
                                </table>
                                
                                <!-- Pagination -->
                                <!-- <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                            </li>
                                        {% endif %}
                                        <li class="page-item"><span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <!-- App body ends -->

   


{% endblock %}
