{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="app-body">

    <div class="row gx-3">
        <div class="col-xxl-12">
            <div class="card mb-3">
                <form method="POST">
                <div class="card-header">
                    <h5 class="card-title">Oil Pumping - Add New</h5>
                </div>
                {{ form.non_field_errors }}
                {% csrf_token %}
                <div class="card-body">
                    
                    <form method="POST">
                        <!-- Row start -->
                        <div class="row gx-3">
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    {{ form.date.errors }}
                                    <label class="form-label">Date</label>
                                    <div class="input-group">
                                        {{ form.date }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Shift</label>
                                    {{ form.shift }}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">SF Leak in MT</label>
                                    {{ form.sfleakinmt }}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">GN Leak in MT</label>
                                    {{ form.gnleakinmt }}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">GNR Leak in MT</label>
                                    {{ form.gnrleakinmt }}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">RB Leak in MT</label>
                                    
                                    {{ form.rbleakinmt }}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Palm Leak in MT</label>
                                    {{ form.palmleakinmt }}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">GINGELLY Leak in MT</label>
                                    {{ form.ginleakinmt }}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Operator Name</label>
                                    {{ form.operatorname }}
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Remarks</label>
                                    {{ form.remarks }}
                                </div>
                            </div>
                            
                            
                        </div>
                    
                    <!-- Row end -->
                </div>
                <div class="card-footer">
                    <div class="d-flex gap-2 justify-content-end">
                        <a type="button" class="btn btn-outline-secondary" href="{% url 'pouchcuttingtable' %}">
                            Cancel
                        </a>
                        <button type="submit" class="btn btn-success">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
   

</div>

{% endblock %}
    
    
    
       
   
    