{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- App body starts -->
    <div class="app-body">
        {% include 'Packing/djangomessage.html' %}

        <!-- Container starts -->
        <div class="container-fluid">
            <div class="row gx-4">
                
                

            <!-- Row start -->
            <div class="row">
                <div class="col-xxl-12 col-md-12 col-sm-12 col-12">
                    <!-- Card start -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Daily Pouch Stock  -  <a type='submit' class='btn btn-primary' href="{% url 'dailypochstockupdate' %}">+Add</a></h4><small>Last updated date is {{lastentrydate}} - updatedby {{updatedby}}</small>
                        </div>
                        <div class="card-body">             
                            <div class="col-xxl-12">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="custom-tabs-container">
                                            <ul class="nav nav-tabs" id="customTab3" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link active" id="tab-oneAA" data-bs-toggle="tab" href="#oneAA" role="tab"
                                                        aria-controls="oneAA" aria-selected="true"><i class="bi bi-box-seam"></i>Morning stock</a>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link" id="tab-twoAA" data-bs-toggle="tab" href="#twoAA" role="tab"
                                                        aria-controls="twoAA" aria-selected="false"><i class="bi bi-pie-chart"></i>Evening stock</a>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link" id="tab-threeAA" data-bs-toggle="tab" href="#threeAA" role="tab"
                                                        aria-controls="threeAA" aria-selected="false"><i class="bi bi-printer"></i>others</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="customTabContent3">
                                            <!-- morningstock -->
                                                <div class="tab-pane fade show active" id="oneAA" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-xl-3 col-sm-6 col-12">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                    <h5 class="card-title">Refined Sunflower Oil (RSF)</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                   <table class="table">
                                                                        <thead>                                                                            
                                                                            <tr>
                                                                                <th>SKU</th>
                                                                                <th>Box Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for stock in sfmorningstock %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{stock.skuname}}
                                                                                </td>
                                                                                <td>
                                                                                    {{stock.stockbox}}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                   </table>
                                                                    <a href="#" class="btn btn-primary">Update</a>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-sm-6 col-12">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                    <h5 class="card-title">Groundnut Oil (GN)</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table">
                                                                        <thead>                                                                            
                                                                            <tr>
                                                                                <th>SKU</th>
                                                                                <th>Box Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for stock in gnmorningstock %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{stock.skuname}}
                                                                                </td>
                                                                                <td>
                                                                                    {{stock.stockbox}}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                   </table>
                                                                    <a href="#" class="btn btn-primary">Update</a>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-sm-6 col-12">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                    <h5 class="card-title">Refined Rice Bran Oil (RRB)</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table">
                                                                        <thead>                                                                            
                                                                            <tr>
                                                                                <th>SKU</th>
                                                                                <th>Box Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for stock in rbmorningstock %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{stock.skuname}}
                                                                                </td>
                                                                                <td>
                                                                                    {{stock.stockbox}}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                   </table>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-sm-6 col-12">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                    <h5 class="card-title">Coconut Oil (COC)</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table">
                                                                        <thead>                                                                            
                                                                            <tr>
                                                                                <th>SKU</th>
                                                                                <th>Box Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for stock in cocmorningstock %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{stock.skuname}}
                                                                                </td>
                                                                                <td>
                                                                                    {{stock.stockbox}}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                   </table>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-3 col-sm-6 col-12">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                    <h5 class="card-title">Gingelly (GIN)</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table">
                                                                        <thead>                                                                            
                                                                            <tr>
                                                                                <th>SKU</th>
                                                                                <th>Box Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for stock in ginmorningstock %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{stock.skuname}}
                                                                                </td>
                                                                                <td>
                                                                                    {{stock.stockbox}}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                   </table>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-sm-6 col-12">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                    <h5 class="card-title">Groundnut Oil-Refined (RGN)</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table">
                                                                        <thead>                                                                            
                                                                            <tr>
                                                                                <th>SKU</th>
                                                                                <th>Box Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for stock in gnrmorningstock %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{stock.skuname}}
                                                                                </td>
                                                                                <td>
                                                                                    {{stock.stockbox}}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                   </table>
                                                                    <a href="#" class="btn btn-primary">Update</a>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-sm-6 col-12">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                    <h5 class="card-title">GoodLife (GL)</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table">
                                                                        <thead>                                                                            
                                                                            <tr>
                                                                                <th>SKU</th>
                                                                                <th>Box Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for stock in glmorningstock %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{stock.skuname}}
                                                                                </td>
                                                                                <td>
                                                                                    {{stock.stockbox}}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                   </table>
                                                                    <a href="#" class="btn btn-primary">Update</a>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-sm-6 col-12">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                    <h5 class="card-title">Palm Oil (Mr.Palm & TN.Palm)</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table">
                                                                        <thead>                                                                            
                                                                            <tr>
                                                                                <th>SKU</th>
                                                                                <th>Box Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for stock in palmmorningstock %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{stock.skuname}}
                                                                                </td>
                                                                                <td>
                                                                                    {{stock.stockbox}}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                   </table>
                                                                    <a href="#" class="btn btn-primary">Update</a>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="twoAA" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-xl-3 col-sm-6 col-12">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                    <h5 class="card-title">Refined Sunflower Oil (RSF)</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                   <table class="table">
                                                                        <thead>                                                                            
                                                                            <tr>
                                                                                <th>SKU</th>
                                                                                <th>Box Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for stock in sfeveningstock %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{stock.skuname}}
                                                                                </td>
                                                                                <td>
                                                                                    {{stock.stockbox}}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                   </table>
                                                                    <a href="#" class="btn btn-primary">Update</a>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-sm-6 col-12">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                    <h5 class="card-title">Groundnut Oil (GN)</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table">
                                                                        <thead>                                                                            
                                                                            <tr>
                                                                                <th>SKU</th>
                                                                                <th>Box Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for stock in gneveningstock %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{stock.skuname}}
                                                                                </td>
                                                                                <td>
                                                                                    {{stock.stockbox}}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                   </table>
                                                                    <a href="#" class="btn btn-primary">Update</a>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-sm-6 col-12">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                    <h5 class="card-title">Refined Rice Bran Oil (RRB)</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table">
                                                                        <thead>                                                                            
                                                                            <tr>
                                                                                <th>SKU</th>
                                                                                <th>Box Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for stock in rbeveningstock %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{stock.skuname}}
                                                                                </td>
                                                                                <td>
                                                                                    {{stock.stockbox}}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                   </table>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-sm-6 col-12">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                    <h5 class="card-title">Coconut Oil (COC)</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table">
                                                                        <thead>                                                                            
                                                                            <tr>
                                                                                <th>SKU</th>
                                                                                <th>Box Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for stock in coceveningstock %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{stock.skuname}}
                                                                                </td>
                                                                                <td>
                                                                                    {{stock.stockbox}}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                   </table>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-3 col-sm-6 col-12">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                    <h5 class="card-title">Gingelly (GIN)</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table">
                                                                        <thead>                                                                            
                                                                            <tr>
                                                                                <th>SKU</th>
                                                                                <th>Box Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for stock in gineveningstock %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{stock.skuname}}
                                                                                </td>
                                                                                <td>
                                                                                    {{stock.stockbox}}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                   </table>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-sm-6 col-12">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                    <h5 class="card-title">Groundnut Oil-Refined (RGN)</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table">
                                                                        <thead>                                                                            
                                                                            <tr>
                                                                                <th>SKU</th>
                                                                                <th>Box Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for stock in gnreveningstock %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{stock.skuname}}
                                                                                </td>
                                                                                <td>
                                                                                    {{stock.stockbox}}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                   </table>
                                                                    <a href="#" class="btn btn-primary">Update</a>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-sm-6 col-12">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                    <h5 class="card-title">GoodLife (GL)</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table">
                                                                        <thead>                                                                            
                                                                            <tr>
                                                                                <th>SKU</th>
                                                                                <th>Box Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for stock in gleveningstock %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{stock.skuname}}
                                                                                </td>
                                                                                <td>
                                                                                    {{stock.stockbox}}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                   </table>
                                                                    <a href="#" class="btn btn-primary">Update</a>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-sm-6 col-12">
                                                            <div class="card mb-4">
                                                                <div class="card-header">
                                                                    <h5 class="card-title">Palm Oil (Mr.Palm & TN.Palm)</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table">
                                                                        <thead>                                                                            
                                                                            <tr>
                                                                                <th>SKU</th>
                                                                                <th>Box Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for stock in palmeveningstock %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{stock.skuname}}
                                                                                </td>
                                                                                <td>
                                                                                    {{stock.stockbox}}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                   </table>
                                                                    <a href="#" class="btn btn-primary">Update</a>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="threeAA" role="tabpanel">
                                                    <div class="row gx-3">
                                                        <div class="col-sm-4 col-12">
                                                            <!-- Card start -->
                                                            <!-- <div class="card mb-3">
                                                                <!-- <div class="card-body">
                                                                    <ul class="list-group">
                                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                            A list item
                                                                            <span class="badge shade-primary">4</span>
                                                                        </li>
                                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                            A second list item
                                                                            <span class="badge shade-primary">2</span>
                                                                        </li>
                                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                            A third list item
                                                                            <span class="badge shade-primary">1</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div> -->
                                                            <!-- Card end -->
                                                        </div>
                                                        <div class="col-sm-4 col-12">
                                                            <!-- Card start -->
                                                            <!-- <div class="card mb-3">
                                                                <div class="card-body">
                                                                    <ul class="list-group">
                                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                            A list item
                                                                            <span class="badge shade-green">4</span>
                                                                        </li>
                                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                            A second list item
                                                                            <span class="badge shade-green">2</span>
                                                                        </li>
                                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                            A third list item
                                                                            <span class="badge shade-green">1</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div> -->
                                                            <!-- Card end -->
                                                        </div>
                                                        <div class="col-sm-4 col-12">
                                                            <!-- Card start -->
                                                            <!-- <div class="card mb-3">
                                                                <div class="card-body">
                                                                    <ul class="list-group">
                                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                            A list item
                                                                            <span class="badge shade-red">4</span>
                                                                        </li>
                                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                            A second list item
                                                                            <span class="badge shade-red">2</span>
                                                                        </li>
                                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                            A third list item
                                                                            <span class="badge shade-red">1</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div> -->
                                                            <!-- Card end -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            
                                
                           
                           
                        </div>
                    </div>
                    <!-- Card end -->
                </div>
                <!-- <div class="col-xxl-9 col-md-8 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Activity</h4>
                        </div>
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- Row end -->

        </div>
        <!-- Container ends -->

    </div>
    <!-- App body ends -->

   


{% endblock %}