{% extends 'base.html' %}
{% load static %}
{% block content %}

 <!-- App body starts -->
    <div class="app-body">
        <form method="POST"

            <!-- Container starts -->
            <div class="container-fluid">

                <!-- Row start -->
                <div class="row">
                    <div class="col-xxl-3 col-md-4 col-sm-12 col-12">
                        <!-- Card start -->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">SKU Details</h4>
                            </div>
                            <div class="card-body">  
                                {% csrf_token %}
                                {{ printingrolldetailsform1.as_p }}             
                                
                                
                                
                            </div>
                        </div>
                        <!-- Card end -->
                    </div>
                    <div class="col-xxl-9 col-md-8 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Roll Weight Details</h4>
                            </div>
                            <div class="card-body">
                                <div class="container-fluid">
                                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-xl-3 row-cols-xxl-5 g-4">
                                        <!-- <div class="row"> -->
                                        
                                        {{ rolldetailsformset.management_form }}
                                        {% for form in rolldetailsformset %}
                                           
                                      
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-header" style="text-align: center; height : 10px;">
                                                    <h6 class="card-title">{{ forloop.counter }}</h6>
                                                </div>
                                                <div class="card-body">
                                                     {{ form.as_p }}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <button class="btn btn-primary mx-2 my-2" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row end -->

            </div>
            <!-- Container ends -->
        </form>
        
    </div>
    <!-- App body ends -->

   


{% endblock %}