{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="app-body">
    {% if user.is_authenticated and user.Pack_manualleakchange_access %}
    {% include 'Packing/djangomessage.html' %}
    <div class="row gx-3">
        <form method="POST">
        <div class="col-xxl-12">
            <div class="card mb-3">
                
                <div class="card-header">
                    <h5 class="card-title">Manual Leak Change Edit</h5>
                </div>
                {{ form.non_field_errors }}
                {% csrf_token %}
                <div class="card-body">
                    
                    <form method="POST">
                        <!-- Row start -->
                        <div class="row gx-3">
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    {{ form.date.errors }}
                                    <label class="form-label">Date</label>
                                    {{ form.date }}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Shift</label>
                                    {{ form.shift}}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Damage Changed Box</label>
                                    {{ form.changeddamagebox}}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Hindi Manpower</label>
                                    {{ form.hindimanpower}}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Ladies Manpower</label>
                                    {{ form.ladiesmanpower}}
                                </div>
                            </div>
                            
                            <!-- <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Roll Stop Time</label>
                                    <select class="form-select">
                                        <option value="0">Select</option>
                                        <option value="1">One</option>
                                    </select>
                                </div>
                            </div> -->
                            
                            
                            
                        </div>
                    
                    <!-- Row end -->
                </div>
                
            
            </div>
        </div>
        <div class="col-xxl-12">
            <div class="card mb-3">
                
                <div class="card-header">
                    <h5 class="card-title">Manual Leak Change Edit</h5>
                </div>
                {{ form.non_field_errors }}
                <div class="card-body">
                    
                    <form method="POST">
                        <!-- Row start -->
                        <div class="row gx-3">
                            {{ form.date.errors }}
                                {{ child_formset.management_form }}
                                {% for form in child_formset %}
                                
                            
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Roll No{{forloop.counter}}</label>
                                    {{ form.rollno}}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">No of Pouch</label>
                                    {{ form.noofpouch}}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Mistake</label>
                                    {{ form.mistakename}}
                                </div>
                            </div>
                            {% endfor %}
                            
                            <!-- <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Roll Stop Time</label>
                                    <select class="form-select">
                                        <option value="0">Select</option>
                                        <option value="1">One</option>
                                    </select>
                                </div>
                            </div> -->
                            
                            
                            
                        </div>
                    
                    <!-- Row end -->
                </div>
                <div class="card-footer">
                    <div class="d-flex gap-2 justify-content-end">
                        <button type="button" class="btn btn-outline-secondary">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-success">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
            </div>
        
        </div>
        </form>
    </div>
   

</div>

{% else %}
{% include 'Packing/noaccess.html' %}
{% endif %}

{% endblock %}
    
    
    
       
   
    