{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="app-body">
    {% if user.is_authenticated and user.Pack_oilpump_access %}
    {% include 'Packing/djangomessage.html' %}
    <div class="row gx-3">
        <div class="col-xxl-12">
            <div class="card mb-3">
                <form method="POST">
                <div class="card-header">
                    <h5 class="card-title">Oil Pumb Edit</h5>
                </div>
                {{ form.non_field_errors }}
                {% csrf_token %}
                <div class="card-body">
                    
                    <form method="POST">
                        <!-- Row start -->
                        <div class="row gx-3">
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    {{ form.date.errors }}
                                    <label class="form-label">Date</label>
                                    {{ form.date }}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    {{ form.motorontime.errors }}
                                    <label class="form-label">Motor ON Time</label>
                                    {{ form.motorontime }}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Motor OFF Time</label>
                                    {{ form.motorofftime }}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Shift</label>
                                    {{ form.shift }}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Main Tank</label>
                                    {{ form.maintank }}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Sub Tank</label>
                                    {{ form.subtank }}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Vitamin</label>
                                    {{ form.vitaminunits }}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">TMPS</label>
                                    {{ form.tmpsunits}}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">TBHQ</label>
                                    {{ form.tbhqunits }}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Oererator Name</label>
                                    {{ form.operatorname }}
                                </div>
                            </div>
                          
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">QC Name</label>
                                    {{ form.qcname}}
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Manager Name</label>
                                    {{ form.manager }}
                                </div>
                            </div>
                            
                            <div class="col-sm-6 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Message</label>
                                    <textarea class="form-control" placeholder="Enter message" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    
                    <!-- Row end -->
                </div>
                <div class="card-footer">
                    <div class="d-flex gap-2 justify-content-end">
                        <a type="button" class="btn btn-outline-secondary" href="{% url 'oilpumpingtable' %}">
                            Cancel
                        </a>
                        <button type="submit" class="btn btn-success">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
   

</div>

{% else %}
      {% include 'Packing/noaccess.html' %}
      {% endif %}
{% endblock %}
    
    
    
       
   
    