{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
 <!-- App body starts -->
 <div class="app-body">
    {% if user.is_authenticated and user.Pack_production_access %}
    {% include 'Packing/djangomessage.html' %}
    <!-- Container starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="d-flex align-items-center">                            
                                <h4 class="card-title">Pouch Production Summary Report(PPSR)</h4>                                
                                <a href="{% url 'ppsrtable_entry' %}" class="btn btn-primary mx-2">+ Add</a>
                            <!-- Download Button --> 
                                <div data-bs-toggle="tooltip" data-bs-placement="top" title="Download">                               
                                    <button type="button" class="btn btn-outline-warning mx-2" data-bs-toggle="modal" data-bs-target="#modalSheet">
                                        <i class="fs-3 bi bi-file-earmark-spreadsheet-fill"></i>
                                    </button>
                                </div>
                            <!-- Model Form-->
                                <form action="#">
                                    {% csrf_token %}
                                    <div class="modal " aria-labelledby="modal-title" tabindex="-1" role="dialog" id="modalSheet" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Download</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="card-body">
                                                    <!-- Row start -->
                                                    <div class="row gx-3">
                                                        <div class="card mb-3">
                                                            <div class="card-body">
                                                                <div class="m-0">
                                                                    <div class="form-label">From Date</div>
                                                                    <div class="input-group">
                                                                        <input type="date" class="form-control datepicker" name="fromdate" required />
                                                                        <span class="input-group-text">
                                                                            <i class="bi bi-calendar4"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card mb-3">
                                                            <div class="card-body">
                                                                <div class="m-0">
                                                                    <div class="form-label">To Date</div>
                                                                    <div class="input-group">
                                                                        <input type="date" class="form-control datepicker" name="todate" required />
                                                                        <span class="input-group-text">
                                                                            <i class="bi bi-calendar4"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Row end -->
                                                </div>
                                                <div class="modal-footer flex-column">
                                                    <button type="submit" class="btn btn-lg btn-primary w-100 mx-0 mb-2">
                                                        Download
                                                    </button>
                                                    <button type="button" class="btn btn-lg btn-secondary w-100 mx-0" data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="btn-group ms-auto" role="group" aria-label="Basic radio toggle button group">

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="all,PPSRDetails" hx-get="{% url 'toggle' %}" hx-trigger="change" hx-target="#toggle-response" checked="" />
                            <label class="btn btn-outline-primary" for="btnradio1">All</label>
                            
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="today,PPSRDetails" hx-get="{% url 'toggle' %}" hx-trigger="change"  hx-target="#toggle-response" />
                            <label class="btn btn-outline-primary" for="btnradio2">Today</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" value="thismonth,PPSRDetails" hx-get="{% url 'toggle' %}" hx-trigger="change" hx-target="#toggle-response" />
                            <label class="btn btn-outline-primary" for="btnradio3">This Month</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" value="last_month,PPSRDetails" hx-get="{% url 'toggle' %}" hx-trigger="change" hx-target="#toggle-response" />
                            <label class="btn btn-outline-primary" for="btnradio4">Last Month</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio5" value="last_3_months,PPSRDetails" hx-get="{% url 'toggle' %}" hx-trigger="change" hx-target="#toggle-response" />
                            <label class="btn btn-outline-primary" for="btnradio5">Last 3 Months</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio6" value="last_year,PPSRDetails" hx-get="{% url 'toggle' %}" hx-trigger="change" hx-target="#toggle-response" />
                            <label class="btn btn-outline-primary" for="btnradio6">Last Year</label>

                                </div>
                            </div>
                        </div>
                    <div class="card-body">
                        <div class="border border-dark rounded-3">
                            <div class="table-responsive">
                                <table class="table align-middle custom-table m-0">
                                    <thead>
                                        <tr>
                                            <th>Date&Time</th>
                                            <th>Machine Name</th>
                                            <th>Machine Plan</th>
                                            <th>Machine Status</th>
                                            <th>Running SKU</th>
                                            <th>Operator</th>
                                            <th>Champion</th>
                                            <th>Wt Checker</th>
                                            <th>Plus</th>
                                            <th>Good</th>
                                            <th>Minus</th>
                                            <th>Special</th>
                                            <th>Stock Box</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="toggle-response">
                                        {% include 'Packing/ppsrtable_data.html' %}
                                        
                                    </tbody>
                                </table>
                                <!-- Pagination -->
                                <!-- <nav aria-label="Page navigation" class="pagination-container">
                                    <ul class="pagination">
                                        {% if datatable.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ datatable.previous_page_number }}">Previous</a>
                                            </li>
                                        {% endif %}
                                        <li class="page-item"><span class="page-link">Page {{ datatable.number }} of {{ datatable.paginator.num_pages }}</span></li>
                                        {% if datatable.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ datatable.next_page_number }}">Next</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <!-- App body ends -->

   
    {% else %}
    {% include 'Packing/noaccess.html' %}
    {% endif %}

{% endblock %}
